.app {
  text-align: center;
}

.appHeader {
  margin-top: 36px;
  margin-bottom: 24px;
}

.appLogo {
  height: 10vmin;
  pointer-events: none;
}

h1 {
  font-family: 'Slidefu';
  font-size: 72px;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.robotList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 0 20px;
}
